@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Source+Code+Pro&display=swap');
h1{
    font-style: italic;
    font-family: 'Indie Flower', cursive;
    
    font-size: 70px;
}
hr{
    width: 500px;
}
#digits{
    text-align: center;
    font-style: italic;
    font-family: 'Indie Flower', cursive;
    
    font-size: 70px;
    
}

.centering{
    text-align: center;
}
button{
    margin: 5px 3px 10px 5px;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #90EE90;
    border-style: none;
    font-size: 20px;
}

button:hover{
    background-color: beige;
}
body{
    background-color: #90b7ee68;
    font-size: 35px;
    top: 150px;
    position: relative;
}

button:disabled{
    background-color: grey;
    cursor: not-allowed;

}

#lapList1{
    text-align: center;
    background-color: #617da568;
    border-radius: 7px;
    max-width: 250px;
    margin: auto;
   max-height: 100px;
   overflow-y: scroll;
   font-family: 'Indie Flower', cursive;
   font-size: 40px;

}

main{
    background-color: rgba(255, 255, 255, 0.571);
    border-radius: 20%;
    
   
}